PRIVATE_KEY=...it's an example file, original is stored locally
WHITECHAIN_RPC_URL=https://rpc-testnet.whitechain.io
WHITECHAIN_CHAIN_ID=2625
WHITECHAIN_EXPLORER_API_KEY=...it's an example file, original is stored locally
WHITECHAIN_EXPLORER_API_URL=...it's an example file, original is stored locally
WHITECHAIN_EXPLORER_BROWSER_URL=https://testnet.whitechain.io/


